
.panel {
	position         : absolute;
	inset            : auto 0 0 0;
	background-color : color-mix(in srgb, var(--bg) 55%, rgba(255, 255, 255, 0.4)) !important;
	backdrop-filter  : blur(0.5rem);
	transition       : transform 500ms ease-in-out;
	transform        : translateY(0%);

	&[data-state='hidden'] {
		transform : translateY(100%);
	}

	[data-theme='dark'] & {
		background-color : color-mix(in srgb, var(--bg) 55%, rgba(0, 0, 0, 0.4)) !important;
	}

	&__wrapper {
		@media (--above-md) {
			--flow-size-row    : var(--size-9);
			--flow-size-column : var(--size-10);
		}
	}
}
